{% from "_formhelpers.html" import render_field %}
{% extends 'layout.html' %}
{% block content %}
    {% if command=='new' %}
        {% set job_id='' %}
    {% else %}
        {% set job_id='%d/' % job_id %}
    {% endif %}
    <h2>New job ({{ slug }})</h2>
    <p>Fill the following form to configure your cron job. Empty fields will be filled automatically.
    <form method=post action='{{ url_for("jobs", repo_id=repo_id) }}{{ command }}/{{ job_id }}'>
        <dl>
            {{ render_field(form.minute) }}
            {{ render_field(form.hour) }}
            {{ render_field(form.day_of_week) }}
            {{ render_field(form.week) }}
            {{ render_field(form.day) }}
            {{ render_field(form.month) }}
        </dl>
        <p><input type=submit value='Save'>
    </form>
    
    <h2>Syntax cheatsheet</h2>
    <p>Use the following syntax to configure your Travis job. All fields are optional.</p>
    <table class='cheatsheet'>
        <tr class='odd'><td>*</td><td>Fire on every value</td></tr>
        <tr class='even'><td>*/a</td><td>Fire every "a" values, starting from the minimum</td></tr>
        <tr class='odd'><td>a-b</td><td>Fire on any value within the "a-b" range ("a" must be smaller than "b")</td></tr>
        <tr class='even'><td>a-b/c</td><td>Fire every "c" values within "a-b" range</td></tr>
    </table>
{% endblock %}